.fc-direction-ltr .fc-daygrid-event.fc-event-end {
  font-size: 10px;
  z-index: 10;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end:hover {
  cursor: pointer;
}

.fc-button-primary {
  background-color: #1e62fe !important;
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.fc-today-button {
  display: none !important;
}

.fc-button-group {
  margin: 0 !important;
  padding: 0 !important;
}

.fc-toolbar-title {
  font-size: 25px !important;
}
